node_modules
.pnpm-store
.turbo
.env
.env.*
!.env.example
config/.env
config/.env.*
!config/.env.example
dist
coverage
.next
apps/web/out
*.log
.DS_Store
secrets
*.pem
*.key
config/secrets.*.plain.yaml
*.tsbuildinfo
*.lockb
firebase-debug.log
